
@{
    ViewBag.Title = "Kullanıcılar";
}

@if (Convert.ToBoolean(Session["IS_SYSADM"]))
{
<h2>Kullanıcılar</h2>
    
    <div class="row">
        <table class="table table-bordered" style="margin: 0 0 0 -140px;">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Aktif?</th>
                    <th>Kullanıcı Adınız</th>
                    <th>Parola</th>
                    <th>E-mail</th>
                    <th>Sistem Admini?</th>
                    <th>Kullanıcı?</th>
                    <th>Personel?</th>
                    <th>Şifre Değişikliği?</th>
                    <th>Kart Numaranız</th>
                    <th>CVC</th>
                    <th>STK (Gün)</th>
                    <th>STK (Ay)</th>
                    <th>Kayıt Tarihi</th>
                    <th>Kayıt Güncellediği Tarih</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0;}
                @foreach (var user in ViewBag.UserList)
                {
                    count++;
                    <tr>
                        <form class="form-horizontal" method="post" action="/Account/UsersActive">
                            <th style="text-align: center; line-height: 183px;">@count</th>
                            <td style="text-align: center; line-height: 50px; "><img src="@Url.Content(@user.AVATAR)" alt="avatar" /> <br /> @user.FULNM</td>
                            <td style="text-align: center; line-height: 183px;">@user.IS_AC</td>
                            <td style="text-align: center; line-height: 183px;">@user.USRNM</td>
                            <td style="text-align: center; line-height: 183px;">@user.PWD</td>
                            <td style="text-align: center; line-height: 183px;">@user.EMAIL</td>
                            <td style="text-align: center; line-height: 183px;">@user.IS_SYSADM</td>
                            <td style="text-align: center; line-height: 183px;">@user.IS_ADMIN</td>
                            <td style="text-align: center; line-height: 183px;">@user.IS_HR</td>
                            <td style="text-align: center; line-height: 183px;">@user.CHNG_PWD</td>
                            <td style="text-align: center; line-height: 183px;">@user.CARDNO</td>
                            <td style="text-align: center; line-height: 183px;">@user.CVC</td>
                            <td style="text-align: center; line-height: 183px;">@user.STKDAY</td>
                            <td style="text-align: center; line-height: 183px;">@user.STKMONTH</td>
                            <td style="text-align: center; line-height: 183px;">@user.EDATE.ToString("dd.MM.yyyy")</td>
                            <td style="text-align: center; line-height: 183px;">@user.UDATE.ToString("dd.MM.yyyy")</td>
                            @if (@user.IS_AC == "Evet")
                            {
                                <td style="text-align: center; line-height: 183px;"><button id="@user.ID" class="btn btn-success col-sm-offset-4" style="margin: 0;" name="btnUsrId" value="@user.ID"><i class="fa fa-check"></i> Aktif</button></td>
                            }
                            else
                            {
                                <td style="text-align: center; line-height: 183px;"><button id="@user.ID" class="btn btn-danger col-sm-offset-4" style="margin: 0;" name="btnUsrId" value="@user.ID"><i class="fa fa-times"></i> Aktif</button></td>
                            }                            
                        </form>
                    </tr>
                }
            </tbody>
        </table>

</div>

}

else
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="sr-only">Error:</span>
        Yetkiniz Yok.
    </div>
}

