
@{
    ViewBag.Title = "Filmticket";
}


<script src="~/js/jquery-mask.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#txtCARDNO").mask("9999-9999-9999-9999");
    });
</script>

<h2>Bilet İşlemi</h2>
@foreach (var film in ViewBag.SelectFilm)
{
    <form class="form-horizontal" method="post" action="/Home/FilmticketFunc">
        <div class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
            <div class="thumbnail">
                <hr class="colorgraph">
                <img src="@Url.Content(@film.FILMIMG)" alt="film" />
                <div class="caption">
                    <h3>@film.FILMNM</h3>
                    <p>@film.TIME</p>
                    <p>@film.VISIONDATE.ToString("dd.MM.yyyy")</p>
                    @*<p>@film.EXPLANATION</p>*@
                    @*<p><button id="@film.ID" class="btn btn-success col-sm-offset-4" name="@film.ID" value="@film.ID"><i class="fa fa-credit-card"></i> Bilet Al</button></p>*@
                    @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                </div>
                <hr class="colorgraph">
            </div>
        </div>
    </form>
}

<div class="col-sm-6 col-md-4" style="margin-bottom: 10px; width: 66%; height: 600px;">
    <div class="panel panel-default">
        <div class="panel-heading">Bilgileriniz</div>
        <div class="panel-body">
@foreach (var user in ViewBag.LogUser)
{
    <form class="form-horizontal" method="post" action="/Home/FilmticketFuncEnd" style="width: 70%;margin: 0 auto;">
        <hr class="colorgraph">
        <div class="form-group">
            <label for="fulname" class="col-sm-4 control-label">Adınız :</label>
            <input class="form-control col-xs-12" name="txtFULNM" value="@user.FULNM" readonly="readonly" placeholder="Ad-Soyad" />
        </div>
        <div class="form-group">
            <label for="EMAIL" class="col-sm-4 control-label">E-mail :</label>
            <input class="form-control col-xs-12" name="txtEMAIL" value="@user.EMAIL" readonly="readonly" placeholder="E-mail" />
        </div>
        <div class="form-group">
            <label for="CARDNO" class="col-sm-4 control-label">Kart No :</label>
            <input class="form-control col-xs-12" id="txtCARDNO" required="" data-mask="9999-9999-999-9999" readonly="readonly" name="txtCARDNO" value="@user.CARDNO" placeholder="Kart No" />
        </div>
        <div class="form-group">
            <label for="CVC" class="col-sm-4 control-label">CVC :</label>
            <input class="form-control col-xs-12" name="txtCVC" value="@user.CVC" required="" readonly="readonly" placeholder="CVC" />
        </div>
        <div class="form-group">
            <label for="STKDAY" class="col-sm-4 control-label">STK (Gün / Ay) :</label>
            <input class="form-control col-xs-12" name="txtSTKDAY" required="" value="@user.STKDAY / @user.STKMONTH" readonly="readonly" placeholder="Gün / Ay" />
        </div>
        @*<div class="form-group">
                <label for="STKMONTH" class="col-sm-4 control-label">Son Kullanma Tarihi (Ay) :</label>
                <input class="form-control col-xs-12" name="txtSTKMONTH" value="@user.STKMONTH" placeholder="Ay" />
            </div>*@
        <hr class="colorgraph">
        <button class="btn btn-success col-sm-offset-4" id="bagButton" name="bagButton" value="1"><i class="fa fa-credit-card" aria-hidden="true"></i> Bilet Al</button>
        <button class="btn btn-success col-sm-offset-4" id="bagButton" name="bagButton" value="0"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Sepete Ekle</button>
    </form>
}
        </div>
    </div>

    @*@if (Convert.ToBoolean(Session["ISSENDMAIL"]))
    {
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
    else
    {
        <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-remove"></span>
                <span class="sr-only">Error:</span>
                Başarısız.
            </div>
    }*@
</div>

@if (Convert.ToBoolean(Session["TICKETSUCCESS"]) == false)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert" style="width: 50%;margin: 0 auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4>Hata!</h4>
        <p>Sistemsel Bir Hata Oluştu. Lütfen Daha Sonra Tekrar Deneyiniz.</p>
        @*<p>
                <button type="button" class="btn btn-danger">Take this action</button>
                <button type="button" class="btn btn-default">Or do this</button>
            </p>*@
    </div>
}

@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

