
@{
    ViewBag.Title = "Film Sil";
}

<h2>Film Sil</h2>

@if (Convert.ToBoolean(Session["IS_SYSADM"]))
{
<div class="row">
    <table class="table table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Film</th>
                <th>Film</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0;}
            @foreach (var film in ViewBag.FilmList)
            {
                count++;
                <tr>
                    <form class="form-horizontal" method="post" action="/Film/FilmDeleteAction">

                        <th style="text-align: center; line-height: 290px;">@count</th>
                        <td style="text-align: center; line-height: 290px;"><img src="@Url.Content(@film.FILMIMG)" alt="avatar" /></td>
                        <td style="text-align: center; line-height: 290px;">@film.FILMNM</td>
                        <td style="text-align: center; line-height: 290px;"><button id="@film.ID" cl class="btn btn-danger col-sm-offset-4" style="margin: 0;" name="btnFilm" value="@film.ID"><i class="fa fa-times" aria-hidden="true"></i> Sil</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>

}
else {
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-remove"></span>
    <span class="sr-only">Error:</span>
    Yetkiniz Yok.
</div>
}

